
@{
    Layout = "";
    ViewData["Title"] = "Index";
}


<head>
    <title>JustScan</title>
    <link rel="stylesheet" href="~/css/menu.css" />
    <style>
        p,h1, button {
            font-family: Tahoma;
            text-align: left;
            text-transform: uppercase;
            font-size:30px;
        }
    </style>
</head>

<body onload="myFunction()" style="margin:0; border-style: solid;">

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>

    <!-- <h2>Animated Sidenav Example</h2>
    <p>Click on the element below to open the side navigation menu.</p> -->
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

    <script type="text/javascript">
            function openNav() {
                document.getElementById("mySidenav").style.width = "100%";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
    </script>
    <!--  <p align="center"><b>JUST SCAN</b></p>
      <hr /> -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script type="text/javascript">
            var myVar;

        function myFunction() {

            document.body.style.backgroundImage = "url('../Image/Scan.jpg')";
            document.body.style.backgroundSize = "100% 100%";

              myVar = setTimeout(showPage, 1500);
            }

        function showPage() {
                document.getElementById("loader").style.display = "none";
                document.getElementById("myDiv").style.display = "block";
            }

            function myFunction1() {
                document.getElementById("Pizza").style.display = "block";
                document.getElementById("Pasta").style.display = "none";
                document.getElementById("Starter").style.display = "none";

            }

            function myFunction2() {

                document.getElementById("Pasta").style.display = "block";
                document.getElementById("Starter").style.display = "none";
                document.getElementById("Pizza").style.display = "none";

            }

            function myFunction3() {

                document.getElementById("Starter").style.display = "block";
                document.getElementById("Pasta").style.display = "none";
                document.getElementById("Pizza").style.display = "none";

            }

    </script>



    <div id="loader"></div>
    <div style="display:none;" id="myDiv" class="animate-bottom">
        <div class="display-middle center">
            <span class="text-white hide-large hide-medium"><b>CRUST PIZZA</b></span>  
            </div>
                <div class="display-bottomleft padding">
                    <span class="tag xlarge">Open from 10am to 12pm</span>
                </div>
                <img src="~/Image/Plate.jpg" style="width:100%" />

            </header>


            <div class="container black padding-64 xxlarge" id="menu">
                <div class="content">

                    <h1 class="center jumbo" style="margin-bottom:64px">MENU</h1>
                    <div>
                        <button class="tab1" onclick="myFunction1()">PIZZA</button>
                        <button class="tab2" onclick="myFunction2()">SALADAS</button>
                        <button class="tab3" onclick="myFunction3()">STARTER</button>
                    </div>
                    <div id="Pizza" class="pizza1" style="display:none;">
                        <h1><b>Margherita</b> <span class="span">€12.50</span></h1>
                        <p class="text">Fresh tomatoes, fresh mozzarella, fresh basil</p>
                        <hr>

                        <h1><b>Formaggio</b> <span class="span">€15.50</span></h1>
                        <p class="text">Four cheeses (mozzarella, parmesan, pecorino, jarlsberg)</p>
                        <hr>

                        <h1><b>Chicken</b> <span class="span">€17.00</span></h1>
                        <p class="text">Fresh tomatoes, mozzarella, chicken, onions</p>
                        <hr>

                        <h1><b>Pineapple'o'clock</b> <span class="span">€16.50</span></h1>
                        <p class="text">Fresh tomatoes, mozzarella, fresh pineapple, bacon, fresh basil</p>
                        <hr>

                        <h1><b>Meat Town</b> <span class="span1">Hot!</span><span class="span">€20.00</span></h1>
                        <p class="text">Fresh tomatoes, mozzarella, hot pepporoni, hot sausage, beef, chicken</p>
                        <hr>

                        <h1><b>Parma</b> <span class="span1">New</span><span class="span">€21.50</span></h1>
                        <p class="text">Fresh tomatoes, mozzarella, parma, bacon, fresh arugula</p>
                    </div>

                    <div id="Pasta" class="pasta1">
                        <h1><b>Lasagna</b> <span class="span1">Popular</span> <span class="span">€13.50</span></h1>
                        <p class="text">Special sauce, mozzarella, parmesan, ground beef</p>
                        <hr>

                        <h1><b>Ravioli</b> <span class="span">€14.50</span></h1>
                        <p class="text">Ravioli filled with cheese</p>
                        <hr>

                        <h1><b>Spaghetti Classica</b> <span class="span">€11.00</span></h1>
                        <p class="text">Fresh tomatoes, onions, ground beef</p>
                        <hr>

                        <h1><b>Seafood pasta</b> <span class="span">€25.50</span></h1>
                        <p class="text">Salmon, shrimp, lobster, garlic</p>
                    </div>
                    <div id="Starter" class="starter1">
                        <h1><b>Today's Soup</b> <span class="span1">Seasonal</span><span class="span">€5.50</span></h1>
                        <p class="text">Ask the waiter</p>
                        <hr>

                        <h1><b>Bruschetta</b> <span class="span">€8.50</span></h1>
                        <p class="text">Bread with pesto, tomatoes, onion, garlic</p>
                        <hr>

                        <h1><b>Garlic bread</b> <span class="span">€9.50</span></h1>
                        <p class="text">Grilled ciabatta, garlic butter, onions</p>
                        <hr>

                        <h1><b>Tomozzarella</b> <span class="span">€10.50</span></h1>
                        <p class="text">Tomatoes and mozzarella</p>
                    </div>

                </div>
</body>

